*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

/* MAINPAGE /////////////////////////////////////////////////////// */

.main-page .content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAINPAGE_HEADER/////////////////////////////////////////////// */
header{
    height: 100px;
    background: rgb(59, 66, 109);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    margin-right: 160px;
}
.exit{
    margin-left: -50px;
}
.exit h1:hover{
    color: white;
}
/* MAINPAGE_MAIN/////////////////////////////////////////////// */
main{
    background: rgb(24, 24, 43);
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

main .info-block{
    width: 400px;
    height: 224px;
   display: flex; 
justify-content: center;
}

main .info-block p{
    font-size: 24px;
    color: azure;
    margin: 8px 15px;
    border-bottom: 1px solid white;
}
.name-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.date-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* MAINPAGE_FOOTER/////////////////////////////////////////////// */
footer{
    background: rgb(24, 25, 73);
    height: 80px;
    color: azure;
    text-align: center;
}

footer p{
    font-size: 23px;
    margin-top: 30px;
}